@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
.main-nav{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 100px;
    background-color: #A149FA;
    padding: 0px 60px;
}
.main-nav div{
    margin-top: 40px;
    z-index: 10;
}
.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links ul li{
    font-weight: bold;
    list-style-type: none;
    color: #fff;
}
.nav-links ul li:hover{
    cursor: pointer;
    /* border-bottom: 3px solid red; */

}
.nav-links-ul-li{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.nav-links-ul-li:hover{
   color: #F7EC09;
}
.hamburger{
    cursor: pointer;
    display: none;
    font-size: 30px;
    color: #fff;
}
.name-logo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    color: #fff;
}

.try{
    background-color: rgb(221, 30, 30);
}
.announcement{
    height: 25px;
    background-color: #F7EC09;
}

/* .nav-links-mobile{
    background-color: rgb(119, 217, 45);
    height: 100vh;
    visibility: visible;
    transition: 0.5s ease;
} */



@media screen and (min-width:1100px){
    /* .hamburger{
        display: none;
    } */
}
@media screen and (max-width: 800px) {
    .name-logo{
        padding: 0;
        margin: 0;
        font-size: 22px;
    }
    .main-nav{
        padding: 18px 10px;
    }
    .main-nav div{
        margin-top: 0px;
    }
    .nav-links-mobile{
        background-color: #fff;
        height: 100vh;
        width: 60%;
        /* top: 60px; */
        position: fixed;
        right: 0;
        top: 0;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
        transition: all 0.3s ease-in-out;
    }
    .nav-links-mobile ul li{
        list-style-type: none;
        /* color: #fff; */
        color: #A149FA;
    }
    .nav-links{
        /* background-color: blueviolet;
        height: 100vh; */
        visibility: hidden;
        position: fixed;
    }
    .nav-links ul{
        display: block;
        margin-top: 80px;
    }
    .nav-links ul li{
        padding: 20px;
        text-align: center;
        list-style-type: none;
    }
    .nav-links-ul{
        display: block;
        margin-top: 80px;
    }
    .nav-links-ul-li{
        padding: 20px;
        text-align: center;
        display: block;
        color: #F7EC09;
        font-weight: bold;
    }
    .hamburger{
        display: block;
        position: absolute;
        right:20px;
        /* color: #fff; */
        color: #F7EC09;
    }
  }