.slides-div{
    /* border: 2px solid green; */
}
.slides-div img{
   height: 100px;
   width: 250px;
   margin: 20px;
}
.slides-div p{
   color: #3B44F6;
   font-size: 40px;
   font-weight: bold;
}
.slider{
    /* border:2px solid red; */
    display: flex;
    height:100px;
    width: 1000px;
    margin: 50px auto;
    /* border: 1px solid black; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.slider .slides-div .quote-icon{
    color: #F7EC09;
    margin: 20px;
}

@media screen and (max-width:800px){
    .slides-div img{
        width: 80%;
        padding: 30px;

    }
    .slider{
        width: 80vw;
    }
    .slides-div p{
        color: #3B44F6;
        font-size: 20px;
        font-weight: bold;
     }

}